---
layout: default
title: Home
---

<img src="images/cropped-img_0371.jpg">

<h1>Welcome!</h1>

<p>I am a physical oceanographer interested in how ocean water is mixed and transformed. I am currently working as Research Scientist with <a href="http://www.rbr-global.com">RBR</a> in Ottawa, ON.</p>

<p>I obtained my PhD in physical oceanography in 2012 from Dalhousie University, working with Dr. Dan Kelley. I am also a co-author of the oce package for doing oceanographic analysis in R. My full CV can be found here.</p>

<p>In the ocean, seawater is constantly being transformed by physical processes. From turbulence caused by internal waves in an estuary, to large-scale interaction with the atmosphere at high latitudes, to the very edge of the Greenland ice sheet, changes in temperature and salinity control the density of seawater, which in turn determines ocean currents. The scales involved range from 10’s of kilometers (warm eddies spun off from an unstable boundary current) to millimeters (the scale at which kinetic energy is dissipated by turbulence). My interests lie in obtaining measurements to reveal the details of these dynamic processes.</p>

<h1><i>Recent Posts</i></h1>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
